* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Asap', sans-serif;
}

body {
	/* background-color: #C0ADEF; */
	background-image: url(https://live.staticflickr.com/65535/52210580092_d3444f7153_4k.jpg); /* width="4096" height="3927" */
	/* Resolução original da imagem: https://live.staticflickr.com/65535/52210580092_2075269d5c_o.png */
}

.resume-contents {
	min-height: 100vh;
	width: 80%;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.left-section {
	grid-column: span 2.5;
	height: 100%;
	background-color: #363636;
	opacity: 0.9;
	border-radius: 30px 30px 30px 30px;
}

.right-section {
	grid-column: span 6;
	height: 100%;
	background-color: #666b67;
	opacity: 0.9;
	border-radius: 30px 30px 30px 30px;
}

.index-right-section {
	grid-column: span 4;
	height: 100%;
	background-color: #666b67;
	opacity: 0.9;
	border-radius: 30px 30px 30px 30px;
}

.left-section-content{
	padding: 2rem 2rem;
}

.profile {
	width: 100%;
	border-bottom: 2px solid #1B2631;
}

.profile-image {
	width: 90%;
	border-radius: 50%;
	border: 8px solid #1B2631;
	display: block;
	margin: 0px auto;
	text-align: center;
	opacity: 1.0;
}

.name {
	color: #80bfea;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	padding: 1rem 0;
}

.profession {
	color: #FDB44B;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-weight: bold;
	padding-bottom: 1rem;
}

.left-title {
	color: #a1e2c4;
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding-top: 3rem;
}

.contact-info ul {
	padding-top: 1.5rem;
}

.contact-info ul li,
.references ul li {
	padding: .4rem 0;
	display: flex;
	align-items: center;
	color: #d6dbdfaf;
	letter-spacing: 1px;
	font-size: 18px;
}

.contact-info ul li i ,
.references ul li i {
	padding-right: 1rem;
	font-size: 18px;
	color: #80bfea;
}

.skills ul {
	padding-top: 1.5rem;
}
.skills ul li p {
	padding: .4rem 0;
	color: #d6dbdfaf;
	font-size: 18px;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.referance-name {
	padding-top: 1.5rem;
	padding-bottom: .4rem;
	font-size: 18px;
	color: #F9E79F;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.referance-profession {
	font-size: 16px;
	color: #d6dbdfaf;
	letter-spacing: 1px;
	/* text-transform: uppercase; */
	padding-bottom: .4rem;
}

.right-section-contents {
	padding: 2rem 2rem;
}

.right-title {
	color: #a1e2c4;
	font-size: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 2rem 0;
	position: relative;
}

.gap {
	padding-bottom: 0rem;
}
.about-me-contents {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 2rem;
	color: #F1F8FD;
}

.index-contents {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 2rem;
	color: #F1F8FD;
	display: flex;
	justify-content: center;
}

.about-me-image {
	width: 70%;
	display: block;
	margin: 0px auto;
	text-align: center;
	opacity: 1.0;
}

.language {
	display: flex;
	justify-content: center;
	align-items: top;
	min-height: 100vh;
}

.language ul {
	position: relative;
	display: flex;
	gap: 30px;
}

.language ul li {
	position: relative;
	list-style: none;
	width: 60px;
	height: 60px;
	background: #1B2631;
	border-radius: 60px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 16px 25px rgba(0,0,0,0.1);
	transition: 0.5s;
}

.language ul li:hover {
	width: 180px;
	box-shadow: 0 16px 25px rgba(0,0,0,0);
}

.language ul li::before {
	content: ' ';
	position: absolute;
	inset: 0;
	border-radius: 50px;
	background: linear-gradient(45deg,var(--i),var(--j));
	opacity: 0;
	transform: 0.5s;
}

.language ul li:hover::before {
	opacity: 1;
}

.language ul li::after {
	content: ' ';
	position: absolute;
	top: 10px;
	width: 100%;
	height: 100%;
	border-radius: 60px;
	background: linear-gradient(45deg,var(--i),var(--j));
	transition: 0.5s;
	filter: blur(15px);
	z-index: -1;
	opacity: 0;
}

.language ul li:hover::after {
	opacity: 0.5;
}

.language ul li img {
	font-size: 1.75rem;
	transition: 0.5s;
	transition-delay: 0.25s;
}

.language ul li:hover img {
	transform: scale(0);
	color:white;
	transition-delay: 0s;
}

.language ul li span {
	position: absolute;
}

.language ul li .title {
	color: black;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transform: scale(0);
	transition: 0.5s;
	transition-delay: 0s;
}

.language ul li:hover .title {
	transform: scale(1);
	transition-delay: 0.15s;
}

.border {
	width: 100%;
	align-items: center;
	border: 2px solid #1B2631;
	border-radius: 15px;
	display: grid;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px
}

.experience-contents,
.education-contents,
.awards-contents {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #a1e2c4;
}

.exp-time-period,
.education-time-period,
.awards-time-period {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

.exp-position,
.education-subject,
.awards-name {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #a1e2c4;
}

.exp-desc,
.education-desc,
.awards-desc {
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 1.5rem;
}

.footer-note {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

summary {
	display: block;
	color: #a1e2c4;
	font-size: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: bold;
	display: flex;
	align-items: center;
	padding: 2rem 0;
	position: relative;
}

.tenor-gif-embed {
	display: block;
	margin: 0px auto;
	text-align: center;
}

.spotify-player {
	display: block;
	margin: 0px auto;
	text-align: center;
}


/* Alteração da aparência dos links */
a.text:link {color:#d6dbdfaf;}
a.text:visited {color:#d6dbdfaf;}
a.text:hover {color:#FDB44B;}

/* Media queries para site responsivo */
/* resolução PCs */
@media screen and (max-width:1000px) {
	.resume-contents {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* resolução tablet */
@media screen and (max-width:780px) {
	.profile-image {
		width: 50%;
		border: 0;
	}

	.resume-contents {
		width: 95%;
		margin: 0 auto;
	}
	.experience-contents,
	.education-contents,
	.awards-contents {
		grid-template-columns: repeat(1, 1fr);
	}
	.left-section {
		grid-column: span 3;
	}
	.right-section {
		grid-column: span 4;
	}
	
	.footer-note {
		font-size: 12px;
	}
}

/* resolução smartphones */
@media screen and (max-width:500px) {
	.profile-image {
		width: 50%;
		border: 0;
	}

	.resume-contents {
		width: 95%;
		margin: 0 auto;
	}

	.name {
		font-size: 20px;
	}

	.profession {
		font-size: 18px;
	}

	.left-title {
		font-size: 18px;
	}

	.right-title {
		font-size: 18px;
	}

	.footer-note {
		font-size: 12px;
	}

	.contact-info ul li i,
	.references ul li i {
		/* padding-right: 1rem; */
		font-size: 12px;
	}

	.skills ul li p {
		font-size: 12px;
	}

	.about-me-contents {
		font-size: 16px;
		line-height: 1.5rem;
	}

	.exp-company-name,
	.education-school-name,
	.awards-company-name {
		font-size: 18px;
	}

	.exp-time-period,
	.educationp-time-period,
	.awards-time-period {
		font-size: 16px;
	}

	.exp-position,
	.education-subject,
	.awards-name {
		font-size: 18px;
	}

}